h1{
    background-color: blue;
    color: white;
}


nav a {
    text-decoration: none;
    border: solid 1px black;
    padding: .5em;
    margin: 1em 1em 2em 1em;
    background-color: snow;
    color: blue;
}

header img {
    margin-bottom: 15px;
}


form {
    margin-top: 1.5em;
}
form.delete {
    margin: 0;
    display: inline;
}
form input {
    margin-left: 0;
}
ul {
    list-style-type: none;
}

ul li {
    display: inline;

}
#flash_message {
    position: absolute;
    top:0;
    left:0;
    font-size: 1.3em;
    text-transform: uppercase;
    color: red;
    font-style: bolder;
    padding: .2em;
    border: 3px solid black;
    background: yellow;
    text-align: center;

}
/*.edit, .show {
    display: inline;
    border: 1px solid black;
}*/
 
 
.delete {
    border: 1px solid black;
    background: red;
    font-size: 1.5em;
    margin-top: 1em;
    display: inline-block;

}